
/****
 * Generic styles
 ****/
.hidden {
  display: none;
}

/****
 * General widgets - e.g. error
 ****/

.error-inner {
  background-color: red;
  color: white;
  padding: 10px;
}

.error-title {
  font-size: +1;
  font-weight: bold;
}

.error-pointer {
  
}

.error-details {
  
}

.error-show, .error-hide {
  color: white;
}

.error-details-frame-details a:visited {
  color: white;
}

.error-details-frames {
  padding-left: 10px;
}

.error-frame {
  
}

/****
 * ALL SEARCH WIDGETS DEFAULT CSS BELOW HERE
 ****/

/** search page testing css **/

.search-page {
  width: 100%;
}

/** search page, overarching widget **/

.searchpage-inner {
}

.searchpage-facets {
}

.searchpage-main {
  width: auto;
  float: left;
  top:0px;
  height: 100%;
}

.searchpage-bar {
  width: auto;
  background-color: #D2D2D2;
  color: #4B4B4B;
}

.searchpage-controls {
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchpage-controls-inner {
}

.searchpage-results {
}

/** searchbar internal **/

.searchbar-inner {
  padding: 10px;
}

.searchbar-query {
  border: 1px solid #929292;
  padding: 4px;
  height: 20px;
  width: 440px;
}

.searchbar-submit {
  height: 30px;
  margin-left: 5px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #929292;
  padding: 4px;
}

.searchbar-errorrow {
  height: 31px;
  background-color: #992222;
  color: white;
  font-weight: bold;
}

/** search pager internal CSS **/

.searchpager-showing {
  margin-right: 20px;
}

.searchpager-button {
  width: 100px;
}

.searchpager-page {
  width: 120px;
  padding-left: 10px;
  padding-right: 10px;
}

.searchpager-link {
  text-decoration: none;
  color: black;
}

.searchpager-link:hover {
  text-decoration: underline;
  color: blue;
}

/** facets area **/

.searchfacets-title {
  background-color: #D2D2D2;
  color: #4B4B4B;
  padding: 10px;
  height: 31px;
  line-height: 31px;
}

.searchfacets-facet-title {
  font-weight: bold;
  margin-top: 5px;
  background-color: #323231;
  color: #E6E6E6;
  height: 22px;
  padding: 8px 10px 0;
}

.searchfacets-facet-values {
  padding-left: 10px;
}

.searchfacets-facet-value {
  
}

.searchfacets-facet-value:hover {
  background-color: #D2D2D2;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

.searchfacets-deselect {
  font-weight: bold;
  text-decoration: none;
}

.searchfacets-deselect:hover {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

/** search results **/
.searchresults-inner {
}

.searchresults-title {
  font-weight: bold;
  font-size: 1.2em;
  color: #4B4B4B;
  margin-bottom: 15px;
}

.searchresults-results {
  
}

.searchresults-result {
  padding: 10px;
}

.searchresults-result:hover {
  background-color: #D2D2D2;
}

.searchresults-wrapper {
  
}

.searchresults-navigable {
  cursor: pointer;
}

.searchresults-snippet {
  
}

.searchresults-snippet-highlight {
  font-weight: bold;
}


/****
 * Co-occurence widget
 ****/
 
.cooccurence-title {
  font-weight: bold;
  margin-top: 5px;
  background-color: #323231;
  color: #E6E6E6;
  height: 22px;
  padding: 8px 10px 0;
}

.cooccurence-values {
  padding-left: 10px;
}

.cooccurence-value {
}

.cooccurence-value:hover {
  background-color: #D2D2D2;
  cursor: pointer;
}

.cooccurence-count {
  font-weight: bold;
}






/****
 * Markings widget
 ****/
.markings-title {
  font-weight: bold;
  margin-top: 5px;
  background-color: #323231;
  color: #E6E6E6;
  height: 22px;
  padding: 8px 10px 0;
}

.markings-meta-table {
  border: none; 
  width: 100%;
}

.markings-meta-title {
  font-weight: bold;
  margin-top: 5px;
  background-color: #323231;
  color: #E6E6E6;
  height: 22px;
  padding: 8px 10px 0;
  
  /*
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 2px;*/
}

.markings-security-title {
  font-weight: bold;
  margin-top: 5px;
  background-color: #323231;
  color: #E6E6E6;
  height: 22px;
  padding: 8px 10px 0;
  
  /*
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 2px;
  padding-top: 4px;
  border-top: solid 2px #E6E6E6;*/
}

.markings-content-title {
  font-weight: bold;
  margin-top: 5px;
  background-color: #323231;
  color: #E6E6E6;
  height: 22px;
  padding: 8px 10px 0;
  
  /*
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 2px;
  padding-top: 4px;
  border-top: solid 2px #E6E6E6;*/
}

.markings-content-table {
  width: 100%;
  border: none;
  border-collapse: separate;
}

.markings-content-row > td {
  padding: 2px;
}

.markings-content-section-content {
  border: 3px solid red;
  margin-bottom: 5px;
}

.markings-content-section-part {
  width: 60%;
}

.markings-content-section-triples {
  padding-left: 5px;
  width: 40%;
}

.markings-content-section-full {
  width: 100%;
}

.markings-content-section-controls {
  width: 100%;
}

.markings-content-section-controls label {
  font-weight: bold;
}

.markings-content-section-html {
  padding: 10px;
}

.markings-actionbar {
  text-align: center;
}

/** Highlighting Markings **/
.secure-redaction {
  background-color: black;
  color: #E6E6E6;
  padding: 4px;
  font-weight: bold;
  margin-top: 4px;
  margin-bottom: 5px;
}

.secure-section {
  margin-bottom: 5px;
}

span.placename {
  background-color: #88ff88;
}

span.organisation {
  background-color: #ff8888;
}

span.person {
  background-color: #8888ff;
}

.secure-section-triples {
  display: none;
}

/** V7 triples widgets **/
.sparqlpage-bar {
  width: auto;
  background-color: #D2D2D2;
  color: #4B4B4B;
}

.sparqlbar-inner {
  padding-left: 10px;
}

.sparqlbar-term {
  padding-left: 20px;
}

.sparqlbar-term select {
  padding-left: 0px;
}

.sparqlbar-button {
  margin-top: 20px;
}

.sparqlresults-title {
  font-weight: bold;
  font-size: 1.2em;
  color: #4B4B4B;
  margin-bottom: 15px;
}

.entityfacts-title {
  font-weight: bold;
  font-size: 1.2em;
  color: #4B4B4B;
  margin-bottom: 15px;
}


/** Bits **/
.bits-done {
  border: 2px solid blue;
  margin: 2px;
  padding: 5px;
  color: blue;
}

.bits-loading {
  font-style: italic;
}

.bits-failure {
  border: 2px solid red;
  margin: 2px;
  padding: 5px;
  color: red;
  font-style: bold;
}

/** JSON tree to HTML **/
.jsonhtml {
  padding-left: 20px;
}

.jsonproperty {
  
}

.jsonpropertytitlewrapper {
  
}

.jsonpropertytitle {
  font-weight: bold;
  padding-right: 10px;
}

.jsonpropertyvalue {
  
}

/** Generic log div container **/
div.log {
  margin-top: 10px;
  border: 1px dashed black;
  padding: 10px;
}